@model TestPlansViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Last test executions</h2>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Test name</th>
        <th>Test result</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>1</th>
        <th>Test name</th>
        <th>Passed</th>
    </tr>
    <tr>
        <th>2</th>
        <th>Test name</th>
        <th>Fail</th>
    </tr>
    </tbody>
</table>
